<nav id="sidebar" class="hidden min-[500px]:flex" [class.closed]="closed()">
  <div class="top">
    <app-logo [closed]="closed()" />

    <app-sidebar-toggle-btn
      [closed]="closed()"
      [class.closed]="closed()"
      (click)="toggle()"
    />

    <ul>
      @for (item of items; track item.label) {
        <app-sidebar-nav-item
          [label]="item.label"
          [icon]="item.icon"
          [active]="item.name === currentPath()"
          [closed]="closed()"
          (click)="selectNavItem(item.name)"
        />
      }
    </ul>
  </div>

  <div class="bottom">
    <app-sidebar-nav-item
      label="Log out"
      icon="logout"
      [closed]="closed()"
      (click)="logout()"
    />
  </div>
</nav>
