<p-dialog
  [header]="
    ('goals.transferDialog.fromAccount' | translate) + ': ' + goal().name
  "
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '24rem' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="form" class="flex flex-col gap-4 pt-2">
    <app-account-select
      formControlName="fromAccountId"
      [accounts]="filteredAccounts()"
      [label]="'goals.transferDialog.fromAccount' | translate"
      appendTo="body"
      [isInvalid]="
        form.controls.fromAccountId.invalid &&
        form.controls.fromAccountId.touched
      "
    />

    <div class="flex flex-col">
      <label class="text-sm font-medium mb-1" for="depositAmount">
        {{ 'shared.amount' | translate }} ({{ goal().currencyCode }})
      </label>
      <p-inputnumber
        formControlName="amount"
        inputId="depositAmount"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        class="w-full"
        [placeholder]="'shared.enterAmount' | translate"
        autocomplete="off"
        [inputStyle]="{ borderRadius: '16px' }"
      />
      @if (form.controls.amount.invalid && form.controls.amount.touched) {
        <div class="text-xs text-red-500 pl-2 pt-0.5">
          @if (form.controls.amount.hasError('required')) {
            {{ 'shared.amountRequired' | translate }}
          } @else if (form.controls.amount.hasError('min')) {
            {{ 'shared.mustBeGreaterThanZero' | translate }}
          }
        </div>
      }
    </div>
    <div class="flex flex-col">
      <label class="text-sm font-medium mb-1" for="transactedAt">
        {{ 'shared.dateTime' | translate }}
        <span class="text-xs text-surface-400 font-normal">{{
          'shared.optional' | translate
        }}</span>
      </label>
      <p-datepicker
        formControlName="transactedAt"
        inputId="transactedAt"
        [showTime]="true"
        [hourFormat]="'24'"
        [maxDate]="today"
        class="w-full"
        [placeholder]="'shared.now' | translate"
        appendTo="body"
        [inputStyle]="{ borderRadius: '16px' }"
      />
    </div>
  </form>

  <ng-template #footer>
    <p-button
      [label]="'shared.cancel' | translate"
      severity="secondary"
      [text]="true"
      (onClick)="close()"
    />
    <p-button [label]="'shared.transfer' | translate" (onClick)="submit()" />
  </ng-template>
</p-dialog>
