<div class="flex gap-2 flex-wrap">
  <p-floatlabel class="w-30" variant="on">
    <p-datepicker
      [ngModel]="month()"
      (ngModelChange)="monthChanged.emit($event)"
      view="month"
      dateFormat="mm/yy"
      [readonlyInput]="true"
      inputId="budget-month"
      size="small"
      [inputStyle]="{ borderRadius: '12px' }"
    />
    <label for="budget-month">{{ 'shared.month' | translate }}</label>
  </p-floatlabel>

  <p-floatlabel class="w-30" variant="on">
    <p-select
      [ngModel]="currency()"
      (ngModelChange)="currencyChanged.emit($event)"
      [options]="currencies()"
      optionLabel="name"
      optionValue="name"
      class="w-full"
      size="small"
      inputId="currency"
      [dt]="{ root: { borderRadius: '12px' } }"
    />
    <label for="currency">{{ 'shared.currency' | translate }}</label>
  </p-floatlabel>

  @if (hasStatusFilter()) {
    <p-floatlabel class="w-40" variant="on">
      <p-select
        [(ngModel)]="status"
        [options]="statuses()"
        optionLabel="name"
        optionValue="value"
        class="w-full"
        size="small"
        inputId="status"
        [dt]="{ root: { borderRadius: '12px' } }"
        (onChange)="statusChanged.emit($event.value)"
      />
      <label for="status">{{ 'shared.status' | translate }}</label>
    </p-floatlabel>
  }
</div>

@if (hasGroupsFilter()) {
  <p-multiselect
    [(ngModel)]="selectedGroupsIds"
    [options]="groups()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'groups.addGroup' | translate"
    [maxSelectedLabels]="3"
    [showClear]="true"
    display="chip"
    inputId="groups"
    class="text-sm"
    [dt]="{ root: { borderRadius: '12px' }, chip: { borderRadius: '16px' } }"
    (onChange)="groupsIdsChanged.emit($event.value)"
    (onClear)="groupsIdsChanged.emit([])"
  />
}
