@if (store.hasGroups()) {
  <div class="flex justify-between gap-4 mb-4">
    <app-groups-filters
      [initTransactionType]="store.filters().transactionType"
      (transactionTypeChanged)="onTransactionTypeChanged($event)"
    />

    <p-button
      icon="pi pi-plus"
      label="Add group"
      [rounded]="true"
      size="large"
      class="shrink-0"
      [dt]="{ root: { lg: { fontSize: '14px' } } }"
      (onClick)="isNewGroupDialogVisible = true"
    />
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    @for (group of store.filteredGroups(); track group.id) {
      <app-group-card
        class="h-full"
        [group]="group"
        (renameGroup)="renameGroup(group.id, $event)"
        (deleteGroup)="deleteGroup(group.id)"
        (createCategory)="createCategory($event, group.id)"
        (renameCategory)="
          renameCategory($event.newName, $event.categoryId, group.id)
        "
        (deleteCategory)="deleteCategory($event, group.id)"
      />
    }
  </div>
} @else {
  <app-empty-state
    title="No groups here yet"
    description="Start organizing your spending and incomes by adding your first group."
    primaryButtonText="Add group"
    primaryButtonIcon="add"
    icon="group_work"
    (primaryActionClicked)="isNewGroupDialogVisible = true"
  />
}

<p-toast />

<app-new-group-dialog
  [(visible)]="isNewGroupDialogVisible"
  (createGroup)="createGroup($event)"
/>
