<p-toast />

<app-form-page-layout [header]="title()" (back)="gotoBack()">
  @if (selectedTransactionStore.isCreatingMode()) {
    <p-selectbutton
      [ngModel]="transactionType()"
      (ngModelChange)="transactionType.set($event)"
      [options]="transactionTypesOptions"
      optionLabel="name"
      optionValue="value"
      aria-labelledby="basic"
      size="small"
    />
  }

  @if (this.selectedTransactionStore.isLoading()) {
    <p-progress-spinner
      ariaLabel="loading"
      [style]="{ width: '60px', height: '60px' }"
    />
  }

  @if (shouldShowForms()) {
    @if (shouldShowExpenseForm()) {
      <app-expense-form
        [isCreatingMode]="selectedTransactionStore.isCreatingMode()"
        [initialValues]="expenseTransactionStore.initialFormValues()"
        [isSubmitting]="expenseTransactionStore.isCreating()"
        [accounts]="accountsStore.accounts()"
        [groups]="expenseTransactionStore.groups()"
        [categories]="expenseTransactionStore.categories()"
        [currencies]="expenseTransactionStore.currencies()"
        (accountChanged)="onExpenseAccountChanged($event)"
        (groupChanged)="onExpenseGroupChanged($event)"
        (categoryChanged)="onExpenseCategoryChanged($event)"
        (transactionCurrencyCodeChanged)="
          onTransactionCurrencyCodeChanged($event)
        "
        (formSubmitted)="submitExpenseForm($event)"
        (clickDelete)="deleteTransaction()"
        (clickAddGroup)="createGroup($event, 'expense')"
        (clickAddCategory)="createCategory($event.name, $event.groupId)"
      />
    }
    @if (shouldShowIncomeForm()) {
      <app-income-form
        [isCreatingMode]="selectedTransactionStore.isCreatingMode()"
        [initialValues]="incomeTransactionStore.initialFormValues()"
        [isSubmitting]="incomeTransactionStore.isCreating()"
        [accounts]="accountsStore.accounts()"
        [groups]="incomeTransactionStore.groups()"
        [categories]="incomeTransactionStore.categories()"
        (accountChanged)="onIncomeAccountChanged($event)"
        (groupChanged)="onIncomeGroupChanged($event)"
        (categoryChanged)="onIncomeCategoryChanged($event)"
        (formSubmitted)="submitIncomeForm($event)"
        (clickDelete)="deleteTransaction()"
        (clickAddGroup)="createGroup($event, 'income')"
        (clickAddCategory)="createCategory($event.name, $event.groupId)"
      />
    }
  }
</app-form-page-layout>
