<p-toast />

<div
  class="text-center md:mx-auto w-full max-w-160 p-2 sm:p-4 md:p-8 sm:bg-white/40 sm:dark:bg-zinc-900/40 backdrop-blur-2xl sm:border sm:border-gray-50 sm:dark:border-zinc-800/50 rounded-[40px] sm:shadow-2xl sm:shadow-violet-500/16 sm:dark:shadow-none"
>
  <div class="absolute">
    <p-button
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      size="large"
      (onClick)="gotoBack()"
    />
  </div>

  <h4 class="text-lg font-semibold mb-4">
    {{ title() }}
  </h4>

  @if (
    expenseTransactionStore.isCreatingMode() ||
    (!expenseTransactionStore.isCreatingMode() &&
      !!expenseTransactionStore.selectedTransaction())
  ) {
    <p-selectbutton
      [(ngModel)]="transactionType"
      [options]="transactionTypesOptions"
      optionLabel="name"
      optionValue="value"
      aria-labelledby="basic"
      size="small"
    />

    @if (transactionType === 'expense') {
      <app-expense-form
        [isCreatingMode]="expenseTransactionStore.isCreatingMode()"
        [initialValues]="expenseTransactionStore.initialFormValues()"
        [isSubmitting]="expenseTransactionStore.isCreating()"
        [accounts]="accountsStore.accounts()"
        [groups]="expenseTransactionStore.groups()"
        [categories]="expenseTransactionStore.categories()"
        [currencies]="expenseTransactionStore.currencies()"
        (accountChanged)="onAccountChanged($event)"
        (groupChanged)="onGroupChanged($event)"
        (categoryChanged)="onCategoryChanged($event)"
        (transactionCurrencyCodeChanged)="
          onTransactionCurrencyCodeChanged($event)
        "
        (formSubmitted)="submitExpenseForm($event)"
      />
    } @else {
      <app-income-form />
    }
  }
</div>
