<p-toast />

<app-form-page-layout
  [header]="'wallet.transfer.header' | translate"
  [subheader]="'wallet.transfer.subheader' | translate"
  class="max-w-110!"
  (back)="gotoBack()"
>
  <form [formGroup]="form" class="flex flex-col justify-center">
    <div class="flex flex-col text-start">
      <div class="flex flex-col gap-4">
        <app-account-select
          formControlName="fromAccountId"
          [accounts]="accountsStore.accounts()"
          [label]="'wallet.transfer.payFrom' | translate"
          [isInvalid]="
            form.controls.fromAccountId.invalid &&
            form.controls.fromAccountId.dirty
          "
        />

        <div class="text-start">
          <label class="text-sm font-medium mb-1" for="fromAmount">
            {{ 'wallet.transfer.amountToSend' | translate }}
          </label>
          <p-inputnumber
            formControlName="fromAmount"
            inputId="fromAmount"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="2"
            class="w-full"
            [placeholder]="'shared.enterAmount' | translate"
            autocomplete="off"
            [inputStyle]="{ borderRadius: '16px' }"
          />
          @if (
            form.controls.fromAmount.invalid && form.controls.fromAmount.dirty
          ) {
            <div class="text-xs text-red-500 pl-2 pt-0.5">
              @if (form.controls.fromAmount.hasError('required')) {
                {{ 'shared.amountRequired' | translate }}
              } @else if (form.controls.fromAmount.hasError('min')) {
                {{ 'shared.mustBeGreaterThanZero' | translate }}
              }
            </div>
          }
        </div>
      </div>

      <app-transfer-direction-pic class="self-center mt-4" />

      <div class="flex flex-col gap-4">
        <app-account-select
          formControlName="toAccountId"
          [accounts]="toAccounts()"
          [label]="'wallet.transfer.destinationAccount' | translate"
          [isInvalid]="
            form.controls.toAccountId.invalid && form.controls.toAccountId.dirty
          "
        />

        @if (shouldShowToAmount()) {
          <div class="text-start">
            <div class="flex items-center justify-between mb-1">
              <label class="text-sm font-medium" for="toAmount">
                {{ 'wallet.transfer.receivedAmount' | translate }}
              </label>
              <app-exchange-rate-chip [exchangeRate]="exchangeRate()" />
            </div>
            <p-inputnumber
              formControlName="toAmount"
              inputId="toAmount"
              mode="decimal"
              [minFractionDigits]="0"
              [maxFractionDigits]="2"
              class="w-full"
              [placeholder]="'shared.enterAmount' | translate"
              autocomplete="off"
              [inputStyle]="{ borderRadius: '16px' }"
            />
            @if (
              form.controls.toAmount.invalid && form.controls.toAmount.dirty
            ) {
              <div class="text-xs text-red-500 pl-2 pt-0.5">
                @if (form.controls.toAmount.hasError('required')) {
                  {{ 'shared.amountRequired' | translate }}
                } @else if (form.controls.toAmount.hasError('min')) {
                  {{ 'shared.mustBeGreaterThanZero' | translate }}
                }
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="text-start mt-4">
      <label class="text-sm font-medium mb-1" for="transactedAt">
        {{ 'shared.dateTime' | translate }}
        <span class="text-xs text-surface-400 font-normal">{{
          'shared.optional' | translate
        }}</span>
      </label>
      <p-datepicker
        formControlName="transactedAt"
        inputId="transactedAt"
        [showTime]="true"
        [hourFormat]="'24'"
        [maxDate]="today"
        class="w-full"
        [placeholder]="'shared.now' | translate"
        [inputStyle]="{ borderRadius: '16px' }"
      />
    </div>

    <div class="mt-6 w-full sm:w-1/2 self-center">
      <p-button
        [label]="'wallet.transfer.moveMoney' | translate"
        rounded
        fluid
        (onClick)="submit()"
      />
    </div>
  </form>
</app-form-page-layout>
