<form [formGroup]="form" class="mt-6 flex flex-col gap-4 text-start">
  <app-account-select
    formControlName="accountId"
    [accounts]="accounts()"
    [label]="'transactions.incomeForm.toAccount' | translate"
    [isInvalid]="
      form.controls.accountId.invalid && form.controls.accountId.dirty
    "
  />

  <div>
    <app-amount-field
      formControlName="amount"
      inputId="amount"
      [label]="'transactions.incomeForm.incomeAmount' | translate"
      [currencyCode]="selectedCurrencyCode()"
      [isInvalid]="form.controls.amount.invalid && form.controls.amount.dirty"
    />
    @if (form.controls.amount.invalid && form.controls.amount.dirty) {
      <div class="pt-0.5 pl-2 text-xs text-red-500">
        @if (form.controls.amount.hasError('required')) {
          {{ 'shared.amountRequired' | translate }}
        } @else if (form.controls.amount.hasError('min')) {
          {{ 'shared.mustBeGreaterThanZero' | translate }}
        }
      </div>
    }
  </div>

  <div class="flex flex-col gap-4 sm:flex-row">
    <app-category-picker
      formControlName="categoryId"
      inputId="category"
      [label]="'shared.category' | translate"
      [groups]="groups()"
      [categories]="categories()"
      [groupId]="selectedGroupId()"
      (groupIdChange)="onGroupIdChange($event)"
      [isInvalid]="
        form.controls.categoryId.invalid && form.controls.categoryId.dirty
      "
      (clickAddGroup)="isNewGroupDialogVisible = true"
      (clickAddCategory)="onAddCategoryClick($event)"
    />

    <app-date-time-field
      formControlName="transactedAt"
      inputId="transactedAt"
      [label]="'shared.dateAndTime' | translate"
      [isInvalid]="
        form.controls.transactedAt.invalid && form.controls.transactedAt.dirty
      "
    />
  </div>

  <div>
    <label class="text-sm font-medium" for="comment">
      {{ 'shared.comment' | translate }}
      <span class="font-normal text-muted-color">
        {{ 'shared.optional' | translate }}
      </span>
    </label>
    <input
      pInputText
      formControlName="comment"
      id="comment"
      type="text"
      class="mt-1 w-full"
      autocomplete="off"
      [dt]="{ root: { borderRadius: '16px' } }"
    />
    @if (form.controls.comment.invalid && form.controls.comment.dirty) {
      <div class="pt-0.5 pl-2 text-xs text-red-500">
        {{ 'shared.maxLength100' | translate }}
      </div>
    }
  </div>

  <app-form-action-buttons
    [isCreatingMode]="isCreatingMode()"
    [isSubmitting]="isSubmitting()"
    (clickSubmit)="submit()"
    (clickDelete)="clickDelete.emit()"
  />
</form>

<app-name-prompt-dialog
  [title]="'transactions.dialog.newGroup' | translate"
  [(visible)]="isNewGroupDialogVisible"
  (clickSave)="clickAddGroup.emit($event)"
/>

<app-name-prompt-dialog
  [title]="'transactions.dialog.newCategory' | translate"
  [(visible)]="isNewCategoryDialogVisible"
  (clickSave)="
    clickAddCategory.emit({
      name: $event,
      groupId: newCategoryGroupId!,
    })
  "
/>
