<table class="text-sm w-full">
  <thead
    class="sticky top-0 bg-primary-100/80 dark:bg-surface-800 backdrop-blur-sm"
  >
    <tr>
      @for (
        header of headersTitles();
        track header;
        let first = $first;
        let last = $last
      ) {
        <th
          class="font-normal text-sm text-primary uppercase text-start"
          [class.rounded-s-3xl]="first"
          [class.pl-4!]="first"
          [class.rounded-e-3xl]="last"
        >
          {{ header }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of transactions(); track row.id) {
      <tr class="border-b border-gray-200 dark:border-gray-700">
        @if (hasDateColumn()) {
          <td
            class="pl-4! pr-1 text-xs lg:text-sm text-muted-color sm:whitespace-nowrap"
          >
            <span class="sm:hidden">
              {{ row.transactedAt | date: 'shortDate' }}
            </span>
            <span class="hidden sm:block">
              {{ row.transactedAt | date: dateFormat() }}
            </span>
          </td>
        }
        @if (hasGroupColumn()) {
          <td>
            {{ row.groupName }}
          </td>
        }
        @if (hasCategoryColumn()) {
          <td>{{ row.categoryName }}</td>
        }
        @if (hasTransactionAmountColumn()) {
          <td>
            {{ row.transactionAmount | currency: row.transactionCurrency }}
          </td>
        }
        @if (hasChargedAmountColumn()) {
          <td>
            {{ row.chargedAmount | currency: row.chargedCurrency }}
          </td>
        }
        @if (hasExchangeRateColumn()) {
          <td class="text-muted-color">
            {{ row.exchangeRate | number: '1.4-4' }}
          </td>
        }
        @if (hasCommentColumn()) {
          <td class="text-muted-color min-w-60">
            {{ row.comment || '–' }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>

@if (!transactions().length) {
  <div
    class="flex gap-2 items-center text-sm text-center mt-5 text-primary-500 bg-primary-50 dark:bg-surface-800 rounded-full py-2 px-4 w-fit mx-auto"
  >
    <span class="material-symbols-rounded"> info </span>
    <span>Transactions list is empty</span>
  </div>
}
