.scrollable-container {
  scrollbar-width: thin;
  transition: scrollbar-color 200ms ease-out;
  scrollbar-color: var(--p-surface-400) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    scrollbar-color: var(--p-surface-400) transparent;
    border-radius: 4px;
  }

  &:hover::-webkit-scrollbar-thumb,
  &:active::-webkit-scrollbar-thumb {
    background-color: var(--p-surface-400);
  }
}
