@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-display: 'Geist', sans-serif;
}

/* Override Tailwind's dark variant to use our .app-dark class instead of
   the system media query, so manual theme switching works for dark: utilities */

/* @custom-variant dark (&:where(html.app-dark, html.app-dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --text-color: light-dark(var(--p-surface-800), var(--p-surface-200));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--font-sans);
  line-height: 1.5rem;
}

body {
  color: var(--text-color);
  min-height: 100vh;
  min-height: 100dvh;
}
