@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

:root {
  --text-color: light-dark(var(--p-surface-800), var(--p-surface-200));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  line-height: 1.5rem;
}

body {
  color: var(--text-color);
  min-height: 100vh;
  min-height: 100dvh;
}
