<form [formGroup]="form" class="flex flex-col gap-4 text-start mt-8" for="name">
  <div>
    <label class="text-sm font-medium mb-1" for="name">Name</label>
    <input
      pInputText
      formControlName="name"
      inputId="name"
      type="text"
      placeholder="Enter account name"
      class="w-full"
      [dt]="{
        root: {
          borderRadius: '16px',
        },
      }"
    />
    @if (form.controls.name.invalid && form.controls.name.dirty) {
      <div class="text-xs text-red-500 pl-2 pt-0.5">
        Should be between 3 and 30 characters
      </div>
    }
  </div>

  <div>
    <label class="text-sm font-medium mb-1" for="currencyId">Currency</label>
    <p-select
      [options]="currenciesOptions()"
      formControlName="currencyId"
      inputId="currencyId"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      [loading]="isCurrenciesLoading()"
      placeholder="Select a currency"
      class="w-full"
      [dt]="{
        root: {
          borderRadius: '16px',
        },
      }"
    >
    </p-select>
    @if (form.controls.currencyId.invalid && form.controls.currencyId.dirty) {
      <div class="text-xs text-red-500 pl-2 pt-0.5">Should be selected</div>
    }
  </div>

  @if (hasBalance()) {
    <div>
      <label class="text-sm font-medium mb-1" for="balance"> Balance </label>
      <p-inputnumber
        formControlName="balance"
        inputId="balance"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        class="w-full"
        placeholder="Enter account balance"
        autocomplete="off"
        [inputStyle]="{ borderRadius: '16px' }"
      />
      @if (form.controls.balance.invalid && form.controls.balance.dirty) {
        <div class="text-xs text-red-500 pl-2 pt-0.5">Amount required</div>
      }
    </div>

    <div>
      <label class="text-sm font-medium mb-1" for="balanceDate">
        Balance as of
        <span class="text-xs text-surface-400 font-normal">(optional)</span>
      </label>
      <p-datepicker
        formControlName="balanceDate"
        inputId="balanceDate"
        [showTime]="true"
        [hourFormat]="'24'"
        [maxDate]="today"
        class="w-full"
        placeholder="Now"
        [inputStyle]="{ borderRadius: '16px' }"
      />
    </div>
  }

  <div class="mt-6">
    <p-button
      [style]="{ width: '100%' }"
      [label]="submitBtnLabel()"
      rounded
      (onClick)="onSubmit()"
    />
  </div>
</form>
