<form [formGroup]="form" class="flex flex-col gap-4 text-start mt-8" for="name">
  <div>
    <label class="text-sm font-medium mb-1" for="name">{{ t('wallet.newAccountForm.nameLabel') }}</label>
    <input
      pInputText
      formControlName="name"
      inputId="name"
      type="text"
      [placeholder]="t('wallet.newAccountForm.namePlaceholder')"
      class="w-full"
      [dt]="{
        root: {
          borderRadius: '16px',
        },
      }"
    />
    @if (form.controls.name.invalid && form.controls.name.dirty) {
      <div class="text-xs text-red-500 pl-2 pt-0.5">
        {{ t('wallet.newAccountForm.nameError') }}
      </div>
    }
  </div>

  <div>
    <label class="text-sm font-medium mb-1" for="currencyId">{{ t('wallet.newAccountForm.currencyLabel') }}</label>
    <p-select
      [options]="currenciesOptions()"
      formControlName="currencyId"
      inputId="currencyId"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      [loading]="isCurrenciesLoading()"
      [placeholder]="t('wallet.newAccountForm.currencyPlaceholder')"
      class="w-full"
      [dt]="{
        root: {
          borderRadius: '16px',
        },
      }"
    >
    </p-select>
    @if (form.controls.currencyId.invalid && form.controls.currencyId.dirty) {
      <div class="text-xs text-red-500 pl-2 pt-0.5">{{ t('wallet.newAccountForm.currencyError') }}</div>
    }
  </div>

  @if (hasBalance()) {
    <div>
      <label class="text-sm font-medium mb-1" for="balance">{{ t('wallet.newAccountForm.balanceLabel') }}</label>
      <p-inputnumber
        formControlName="balance"
        inputId="balance"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        class="w-full"
        [placeholder]="t('wallet.newAccountForm.balancePlaceholder')"
        autocomplete="off"
        [inputStyle]="{ borderRadius: '16px' }"
      />
      @if (form.controls.balance.invalid && form.controls.balance.dirty) {
        <div class="text-xs text-red-500 pl-2 pt-0.5">{{ t('wallet.newAccountForm.balanceError') }}</div>
      }
    </div>

    <div>
      <label class="text-sm font-medium mb-1" for="balanceDate">
        {{ t('wallet.newAccountForm.balanceDateLabel') }}
        <span class="text-xs text-surface-400 font-normal">{{ t('wallet.newAccountForm.balanceDateOptional') }}</span>
      </label>
      <p-datepicker
        formControlName="balanceDate"
        inputId="balanceDate"
        [showTime]="true"
        [hourFormat]="'24'"
        [maxDate]="today"
        class="w-full"
        [placeholder]="t('wallet.newAccountForm.balanceDatePlaceholder')"
        [inputStyle]="{ borderRadius: '16px' }"
      />
    </div>
  }

  <div class="mt-6">
    <p-button
      [style]="{ width: '100%' }"
      [label]="submitBtnLabel()"
      rounded
      (onClick)="onSubmit()"
    />
  </div>
</form>
